@media screen and (max-width: 1200px){
}

body{
    margin: 15px;
    font-family: 'Shadows Into Light', cursive;
    background-color: blueviolet;
}

.main{
    background-color: blueviolet;
}

#navigation a{
    color: black;
    font-size: 24px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 80px;
    padding-right: 80px;
}


.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;    
}

.s2{
    margin: 0;
    padding: 10px;
} 

.resume_img{
    display: block;
    margin: 0 auto;
    width: fit-content;

    justify-content: center;
    padding-left: 50px;

    -webkit-box-shadow: 43px 10px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 43px 10px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 43px 10px 32px 0px rgba(0,0,0,0.75);
}

.resume-title{
    width: 100vw;
    height: 10vh;
    padding-bottom: 50px;
    margin-bottom: 0;

    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 40px;
}